$outer-color: #1976d2;
$inner-color: darkslateblue;
$section-border: $outer-color 2px solid;
$cell-border: $inner-color 2px solid;
$section-cell-border-radius: 4px;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.currency-in-week-form-section {
  padding: 20px;
  //border: $section-border;
  //border-radius: 4px;
  //width: fit-content;
  margin: 0 auto 20px;

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }
}


form {

  fieldset {
    border: $section-border;
    border-radius: $section-cell-border-radius;
    margin-bottom: 20px;
  }

  :invalid {
    border-color: red;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
}

.input-group {
  margin-bottom: 20px;
}

#graphs-section {
  display: flex;
  flex-wrap: wrap;
}

.graph-container {
  position: relative;
  margin: 20px;
  padding: 20px;
  border: $cell-border;
  border-radius: 4px;
  width: fit-content;

  .graph-title {
    text-align: center;
  }

  .bar-label {
    width: 40px;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.graph {

  width: 250px;
  height: 180px;
  border: solid black;
  border-width: 0 0 2px 2px;
  display: flex;
  align-items: end;

  &:before {
    content: '10';
    position: absolute;
    left: 0px;
    top: 40px;
  }

  &:after {
    content: '0';
    position: absolute;
    left: 10px;
    bottom: 37px;
    text-align: end;
  }


  .bar {
    margin-left: 10px;
    width: 40px;
    height: 100%;
    background: $outer-color;
    color: white;
    text-align: center;
    font-size: 0.8rem;
  }
}

.pending {
  animation-name: fade;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}